batch-us-1/src/main/mule/batch-us-1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8e743f75-ec44-4177-be2c-178fdf1d62bf" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="9974c36f-5c70-47a6-a21e-a8d38689841b" >
		<file:connection workingDir="C:\Work\m4-ws\batch-us-1\src\main\resources\files" />
	</file:config>
	<flow name="batch-us-1Flow" doc:id="abc9209c-9c34-43c2-8ae7-d7565679e419" >
		<http:listener doc:name="Listener" doc:id="0edf078a-6bf9-47cb-9d17-76db2152c0db" config-ref="HTTP_Listener_config" path="/batch-us-1"/>
		<logger level="INFO" doc:name="Log MULE_HOME" doc:id="5754b92b-61ea-4278-8d25-9a6aa678b427" message="#[mule.home]" category="MULE_HOME"/>
		<file:read doc:name="Read" doc:id="55f98984-b9a8-4fcb-9ec3-9a3f40d6bbb2" config-ref="File_Config" path="C:\Work\m4-ws\batch-us-1\src\main\resources\files\Sample-Spreadsheet-10-rows.csv" outputMimeType="application/csv; header=false" />
		<batch:job jobName="batch-us-1Batch_Job" doc:id="ac749cc8-b6b7-4847-8a5a-6eb00f7745d8" blockSize="2">
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="907d88a7-3a02-4fd9-a136-95a78f1492fa" >
					<logger level="INFO" doc:name="Log-payload-in-batch-step-1" doc:id="3d81fb1b-3dc4-406e-aeff-22fdfcc132eb" message="#[payload]" category="payload-in-batch-step-1"/>
				</batch:step>
			</batch:process-records>
		</batch:job>
	</flow>
</mule>
